## Required
API_ID=15364953
API_HASH="82f0fb9b6b4176c593648ad4a18479f9"
PYRO_SESSION="BADqc1kAFHLUDXM_1lTtBBUqDSpjnLx2m0P9VnFCv4qodHVQ-f5jEXgu2r5TY5XZcQbjbqfVV3LCMyzVyirmJFoR8n8Y0XpzEx1RyqaHzCRKBNDcjG2soR3bC8AptlScl5wg8z7a8GuhnDIkWGHz1RpP0CDbwlcA8FE5vmCnDSdP1MV_YeEJmV58GkUuuNnkPIB4_lPP6dJ8Cw9My8Pc-nGOAWVG0W5CTt3zyUxZ-L7FA6aPYQx2-mhIZHA8Z_tfBRIBgz0b99Ph3COwDNApXKrYbhq_Xp9MF1Orh4Ruamojr4s3qnGwN93n-3SVM-dIjlmxQDFDRwqRiBR2jDxiFBpLokhE3gAAAABoyM1kAA" # Same Session Supported 

## Optional
HEADER_MSG="" # Use Markdown / HTML for Formatting
FOOTER_MSG="" # Use Markdown / HTML for Formatting
BOT_TOKEN="" # Use Bot to Add Message Buttons
MSG_BUTTONS="" # b_text#b_url|b_textb_url||b_text#b_url|b_text#b_url
TIME_ZONE="Asia/Kolkata"
